.iframe .wrap {
  justify-content: center;
  flex-direction: column;
}

.iframe .card {
  width: 100%;
  padding: 80px 0;
  border-radius: 20px;
  background-color: var(--secondary20);
  display: flex;
  justify-content: center;
}