header .hamburger {
  border: none;
  background: none;
  border-top: 3px solid var(--text);
  cursor: pointer;
  display: none;
  z-index: 10;
}

header .hamburger::before,
header .hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: var(--text);
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 1025px) {
  header .hamburger {
    display: block;
  }

  header ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    background-color: var(--background);
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    pointer-events: none;
  }

  header nav.active ul {
    clip-path: circle(1800px at 90% -15%);
    pointer-events: all;
  }

  header ul a,
  body>header>div>nav>ul>li:nth-child(5)>div>label {
    font-size: 24px;
    opacity: 0;
  }

  header ul li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  header ul li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  header ul li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  header ul li:nth-child(4) a {
    transition: 0.5s 0.8s;
  }

  body>header>div>nav>ul>li:nth-child(5)>div>label {
    transition: 0.5s 0.9s;
  }

  header nav.active ul a,
  body>header>div>nav.active>ul>li:nth-child(5)>div>label {
    opacity: 1;
  }

  header nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  header nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  header nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }
}

@media (min-width: 768px) {
  header nav.active .hamburger {
    right: 50px;
  }
}